@model CompiledViews.Mvc3Test.Models.HomeModel

@{
    ViewBag.Title = "Index2";
}

<h2>Index 2</h2> 

Test Property: @Model.TestProperty
Test Property: @Model.TestProperty

@section Section1 {

This is a test section 2

}