@model CompiledViews.Mvc3Test.Models.HomeModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2> 

Test Property: @Model.TestProperty
Test Property: @Model.TestProperty

@section Section1 {

This is a test section

}